<section id="projects">
<div class="container">
  <h3>Here are some books I recommend</h3>
  <h5>(listed in no particular order)</h5>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://www.amazon.com/Phoenix-Project-DevOps-Helping-Business/dp/0988262509/">The Phoenix Project</a></strong> - Essentially a DevOps-themed rewrite of <strong><a href="https://www.amazon.com/Goal-Process-Ongoing-Improvement/dp/0884270610">The Goal</a></strong>, this is a must for anyone in Operations looking to learn more about process improvement and DevOps.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="https://landing.google.com/sre/book.html">Site Reliability Engineering</a></strong> - Google wrote a book on SRE, and you can read it for free. Need I say more?
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">The Practice of Cloud System Administration</a></strong> - placeholder
		</h5>
		


    </div>
  </div>
</div>
</section>
