<section id="projects">
<div class="container">
  <h3>Here are some books I recommend</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://www.amazon.com/Phoenix-Project-DevOps-Helping-Business/dp/0988262509/">The Phoenix Project</a></strong>- Essentially as a DevOps-themed rewrite of <strong><a href="https://www.amazon.com/Goal-Process-Ongoing-Improvement/dp/0884270610">The Goal</a></strong>, this is a must for anyone in Operations looking to learn more about process improvement and DevOps.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Site Reliability Engineering</a></strong>- placeholder
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">The Practice of Cloud System Administration</a></strong>- placeholder
		</h5>
		


    </div>
  </div>
</div>
</section>
